body {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

#content-id {
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 40px;
    text-align: justify;
    height: 150px;
}

#content-id p {
    font-size: 12pt;
    line-height: 1.6;
    margin-bottom: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#translate-btn {
    border: 2px solid rgb(255, 0, 0);
    background-color: #000000;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 100px;
    transition: background-color 0.3s, color 0.3s;
    float: right;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 150px;
    height: 50px;
}

#translate-btn:hover {/*
    background-color: #005b8e #0f0f91;
    background: linear-gradient(to right, #005b8e , #0f0f91);*/
    background-color: #646368;
}