body {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;/*
    background-color: #302e2e;
    background-color: black;/*
    background: linear-gradient(135deg, #000000, #353535);/*
    background: linear-gradient(to bottom right, #333, #1a1a1a);*/
    background-repeat: no-repeat;
    background-size: 100% 200%;
}

.sub-main-content {
    padding-left: 20px;
    margin-bottom: 10px;
    margin-right: 30px;
    margin-top: 5px;
    color: white;
}

.sub-main-content h1 {
    font-size: 20pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    text-decoration: underline;
    color: rgb(255, 255, 255);
    text-align: justify;
}

.sub-main-content p {
    font-size: 12pt;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(249, 248, 242);
    text-align: justify;
    line-height: 1.2;
}

.sub-main-content a {
    text-decoration: none;
    color: rgb(249, 248, 242);
}

.sub-main-subcontent {
    width: 900px;
    margin-right: 10px;
    margin-bottom: 30px;
    padding: 15px;/*
    border: 2px solid aquamarine; *//*
    background-color: rgba(0, 0, 0, 0.2);*/
    overflow-y: auto;
    overflow-x: auto;
    border-radius: 10px;/*
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.9);*/
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sub-main-content-img {
    flex: 1;
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-top: 10px;
    padding: 5px;
    border: 3px solid rgb(255, 0, 0);/*
    background-color: rgba(58, 55, 55, 0.9);*/
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.9);
    color: white;
    justify-content: left;
}

.sub-main-content-img img {
    width: 100px;
    height: 100px;
    padding: 10px;
}

.sub-main-content-img p {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 10pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(245, 238, 238);
}

.sub-main-content-img a {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 10pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(247, 242, 242);
    text-decoration: none;
}

.sub-main-content ol li {
    font-size: 12pt;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(249, 248, 242);
    text-align: justify;
    line-height: 1.2;
    margin-left: 5px;
}

.experiences {
    font-size: 13;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(249, 248, 242);
    margin-bottom: 50px;
}

.experiences span {
    font-size: 15pt;
    font-weight: bolder;
}
.experiences p {
    margin: 5px 0;
}

.experiences li {
    margin-right: 20px;
}

.experiences li a {
    text-decoration: none;
}

.experiences ol li a {
    text-decoration: none;
    color: rgb(249, 248, 242);
}

.education {
    font-size: 15pt;
}
.education span {
    font-size: 17pt;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-style: italic;
}
.education ol li {
    font-size: 15pt;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(249, 248, 242);
    text-align: justify;
    margin-bottom: 5px;
}
.education ol li p {
    font-size: 15pt;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(249, 248, 242);
    text-align: justify;
    line-height: 0.1;
    margin-bottom: 10px;
}

.education ol li a {
    text-decoration: none;
    color: rgb(249, 248, 242);
    font-size: 15pt;
}

.education a {
    text-decoration: none;
    color: rgb(249, 248, 242);
    font-size: 15pt;
}

.sub-main-content-img-skill {
    flex: 1;
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-top: 10px;
    padding: 5px;
    border: 3px solid rgb(255, 0, 0);/*
    background-color: rgba(58, 55, 55, 0.9);*/
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.9);
    color: white;
    justify-content: center;
    position: relative;
}

.sub-main-content-img-skill .rating {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
    display: flex;
}

.star {
    color: lightgray;
}

.star.full {
    color: gold;
}

.star.half {
    color: gold;
    position: relative;
}

.star.half::before {
    content: '★';
    color: lightgray;
    position: absolute;
    left: 50%;
    overflow: hidden;
    width: 50%;
}

.sub-main-content-img-skill img {
    width: 250px;
    height: 200px;
    padding: 20px;
}

.sub-main-content-img-skill p {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 10pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(245, 238, 238);
}

.sub-main-content-img-skill a {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 10pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(247, 242, 242);
    text-decoration: none;
}

.sidebar-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: auto;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    overflow-x: auto;
    overflow-y: auto;
    z-index: 2;
    padding-right: 5px;
}

#site-image img {
    width: 250px;
    height: 150px;
    margin: 1px;
    padding: 1px;
}

#file-btn {
    border: 2px solid rgb(255, 0, 0);
    background-color: #000000;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s, color 0.3s;
    float: none;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100px;
}

#file-btn:hover {/*
    background-color: #005b8e #0f0f91;
    background: linear-gradient(to right, #005b8e , #0f0f91);*/
    background-color: #646368;
}

/* memanggil file css */
table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid #000000;
}

th, td {
    padding: 10px;
    text-align: left;
}

/* Contoh gaya untuk scrollbar */
/* Warna track scrollbar */
::-webkit-scrollbar {
    width: 2px; /* Lebar scrollbar */
}

::-webkit-scrollbar-track {
    background-color: #ff0000; /* Warna track scrollbar */
}

/* Warna handle/thumb scrollbar */
::-webkit-scrollbar-thumb {
    background-color: #ff0000; /* Warna handle scrollbar */
    border-radius: 6px; /* Bentuk ujung handle scrollbar */
    border: 3px solid #fff; /* Garis tepi handle scrollbar */
}

/* Warna ketika handle scrollbar sedang dihover */
::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff; /* Warna hover handle scrollbar */
}

/* Menyembunyikan panah navigasi (jika ada) pada scrollbar */
::-webkit-scrollbar-button {
    display: none;
}

/* Jika ingin menyesuaikan scrollbar pada browser selain WebKit (Chrome, Safari) */
/* Firefox */
* {
    scrollbar-color: #ff0000 #f1f1f1;
    scrollbar-width: thin;
}

/* Edge dan IE */
*::-ms-scrollbar {
    color: #ff0000;
    width: 2px;
}

*::-ms-scrollbar-thumb {
    background-color: #ff0000;
    border-radius: 6px;
    border: 3px solid #00f2ff;
}

.content-table {/*
    background: linear-gradient(rgba(0, 0, 0, 0.9), transparent 50%);*/
    margin-left: 30px;/*
    margin-right: 50px;*/
    overflow: hidden;/*
    width: 90vw;*/
    color: #fff;
}

ol li a {
    color: white;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    width: max-content;
    overflow-x: hidden;
    border-style: hidden;
}

td, th {
    border: black;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
}

td {
    width: max-content;
    border: black;
}

thead {/*
    background: linear-gradient(to bottom, #89898a, #060606 , transparent);*/
    color: white;
    text-align: center;
    border: black;
}

tbody tr:nth-child(odd) {/*
    background-color: #535151;
    background-color: black;*/
    color: white;
}

tbody tr:nth-child(even) {/*
    background-color: #898888;
    background-color: black;*/
    color: white;
}

tbody tr:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}