/* my resume css */
body {
    display: flex;
    background-image: url(../images/img_random/img_016\ -r.jpg);
    background-size: 100%;
    background-position: 0 0 0 0;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#content {
    position: relative;
    display: flex; /*
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width: 100%;*/
    flex: 1;
    overflow-y: auto;
}

.sidebar {/*
    width: 220px;*/
    height: 100vh;/*
    background-color: #060341;*/
    color: white ;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 60px;/*
    border-right: 2px solid #fefcfc;*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);/*
    background: linear-gradient(to top, #000000 , #3f3e3e);*//*
    z-index: 2;*/
}

.sidebar ul {
    list-style: none;/*
    padding-top: 100px;
    padding-left: 10px;*/
    padding: 0;
}

.sidebar li {/*
    padding: 10px;
    border-bottom: 1px solid #34495e;*/
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    text-overflow: clip;
    color: white;
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    display: block;
    transition: background-color 0.3s;
    border: 1px transparent rgb(255, 0, 0);
    background-color: #000000;
    border-radius: 5px;
    text-align: justify;
}

.sidebar a:hover {
    background-color: #646368;
    display: inline-block;
    transition: width 0.3s;
}

.sidebar a:active {
    background-color: #c9cc00;
}

.sidebar a.active::before {
    color: white;
}

.main-content {
    flex: 1;
    margin-top: 52px;
    overflow-y: auto;/*
    margin-bottom: 60px;*/
}

/*
.sub-main-content {
    width: 50%;
    position: relative;
    z-index: 1;
    margin-top: 10px;
    margin-left: 300px;
    margin-right: 50px;
    margin-bottom: 20px;
    padding: 15px;
    border: 2px solid aquamarine;
    background-color: rgba(0, 0, 0, 0.8);
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.9);
    color: white;
}

.sub-main-subcontent {
    width: 50%;
    position: relative;
    z-index: 1;
    margin-top: 10px;
    margin-left: 300px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding: 15px;
    border: 2px solid aquamarine;
    background-color: rgba(0, 0, 0, 0.8);
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.9);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sub-main-content-img {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 5px;
    border: 2px solid aquamarine;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.9);
    color: white;
}

/*
.sub-main-content::after {
    content: '';
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0,) 100%);
    z-index: -1;
    pointer-events: none;
}
*/

/*
.sub-main-content h1 {
    font-size: 20pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    text-decoration: underline;
    color: aqua;
    text-align: justify;
}

.sub-main-content p {
    font-size: 15pt;
    font-family: 'Times New Roman', Times, serif;
    color: gold;
    text-align: justify;
    line-height: 1.2;
    margin-left: 30px;
}

.sub-main-content a {
    text-decoration: none;
}

.sub-main-content-img img {
    width: 100px;
    padding: 20px;
}

.sub-main-content-img p {
    margin-left: 10px;
    margin-right: 20px;
    font-size: 15pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: lime;
}

.sub-main-content-img a {
    margin-left: 10px;
    margin-right: 20px;
    font-size: 15pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: lime;
    text-decoration: none;
}
*/

/* sidebar right */
.sidebar-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 100px;
    z-index: 2;
}

.sidebar-right img {
    width: 100%;
    bottom: -100px;
}


/* style scrollbar */ /*
#content::-webkit-scrollbar,
.sub-main-content::-webkit-scrollbar,
.sidebar-right::-webkit-scrollbar {
    width: 12px;
}

#content::-webkit-scrollbar-thumb,
.sub-main-content::-webkit-scrollbar-thumb,
.sidebar-right::-webkit-scrollbar-thumb {
    background-color: #4caf50;
    border-radius: 10px;
}

#content::-webkit-scrollbar-track,
.sub-main-content::-webkit-scrollbar-track,
.sidebar-right::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
*/

#content,
.sub-main-content,
.sidebar-right {
    scrollbar-color: #4caf50 #f1f1f1;
}

.sidebar-right::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.sidebar-right::-webkit-scrollbar-thumb {
    background-color: #4caf50;
    border-radius: 10px;
}

.sidebar-right::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

iframe {
    margin-left: 50px;
    width: 95%;
    height: 88%;
    margin-right: 0;
}

/*	DATE AND TIME	*/
.clock {
    width: max-content;
    margin-top: 5px;
    margin-right: 25px;
    color: #FFF;
    background: black;
    text-align: center;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;/*
    border: 2px solid #ff0000;*/
    border-radius: 5px;
}

.clock2 {
    width: fit-content;
    color: #00c6ff;
    font-weight: bolder;
    background: #00F;
    border: solid #00F 1px;
    border-radius: 25px 25px 25px 25px;/*
    -webkit-box-shadow: #333 5px 5px 5px;
    -moz-box-shadow: #333 5px 5px 5px;*/
}

#Date1 {
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-shadow:0 0 10px #000000;
    text-transform: uppercase;/*
    background: #F00;*/
    color: #fff;/*
    font-size: 10pt;*/
}

#Date2 {
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-shadow: 0 0 10px #333333;
    text-transform: uppercase;/*
    background: #FFF;*/
    color: #fff;/*
    font-size: 10pt;*/
}

#months {
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-shadow: 0 0 10px #ff0000;
    text-transform: uppercase;
    color: #fff;/*
    background: #F00;*/
    border-radius: 25px 25px 0 0;/*
    font-size: 10pt;*/
}

#years {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow:0 0 10px #000000;
    text-transform: uppercase;/*
    background: #FFF;*/
    border-radius: 0 0 25px 25px;
    font-stretch: extra-expanded;
    color: #fff;/*
    font-size: 10pt;*/
    align-items: center;
    justify-content: center;
    text-align: center;
}

ul {
    width: auto;
    margin:0 auto;
    padding:0px;
    list-style:none;
    align-items: center;
    justify-content: center;
    text-align: center
}

ul li {
    display:inline;/*
    font-size: 40px;*/
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;/*
    font-family: 'Times New Roman', Times, serif;*/
    text-shadow:0 0 5px #00c6ff;
}
#hours {
    background: #000;
    border-radius: 10px;
    text-shadow: rgb(255, 255, 255) 5px 5px 5px;/*
    font-size: 10pt;*/
    align-items: center;
    justify-content: center;
    text-align: center
}

#min {
    background: #000;
    border-radius: 10px;
    text-shadow: rgb(255, 255, 255) 5px 5px 5px;/*
    font-size: 10pt;*/
    align-items: center;
    justify-content: center;
    text-align: center
}

#sec {
    background: #000;
    border-radius: 10px;
    text-shadow: rgb(255, 255, 255) 5px 5px 5px;/*
    font-size: 10pt;*/
    align-items: center;
    justify-content: center;
    text-align: center
}

#point {
    position: relative;/*
    -moz-animation: mymove 1s ease infinite;
    -webkit-animation: mymove 1s ease infinite;*/
    padding-left:10px; padding-right:10px;
    color: #ff0000;
    font-weight: bolder;/*
    font-size: 10pt;*/
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*
@-webkit-keyframes mymove {
    0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
    50% {opacity:0; text-shadow:none; }
    100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }    
}

@-moz-keyframes mymove {
    0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
    50% {opacity:0; text-shadow:none; }
    100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }    
}
*/

.calendar-content {
    position: fixed;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    width: 190px;
}
/*==========END==========*/