/* style css */
body {
    margin: 0 ;
    padding: 0 ;
    background: linear-gradient( to right, #000000 , #201c1c);
    color: white;
    background-image: url(../images/img_random/img_016\ -r.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    body {
        font-size: 18px;
    }
}

/* header */
header {
    position: absolute; ;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 5px 10px rgba (0, 0, 0, 0.2);
    z-index: 1000;
    overflow: hidden;/*
    position: fixed;*/
    border-color: rgb(255, 0, 0);/*
    border-bottom: 2px solid white;*/
}

header::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100vw;
    height: 5px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    pointer-events: none;
}

h1 {
    margin: 0;
    margin-left: 25px;
    padding-left: 10px;
    text-shadow: 5px 5px 7px rgba(0, 0, 0, 2);
    font-size: 12pt;
    font-family: 'Courier New', Courier, monospace;
}

.header-controls {
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin-right: 25px;
    margin-top: 5px;
}

/* button for theme *//*
button {
    margin-right: 10px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid rgb(162, 164, 164);
    background-color: #000000;
    color: white;
    font-size: 10pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #646368;
    color: white;
}

button:active {
    background-color: #005b8e;
}
*/

/* navigasi */
nav {
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 55px;
}

nav li {
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 10pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    background-color: #000000 transparent;
    border: 1px transparent rgb(0, 0, 0);
    width: max-content;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

nav a:hover {
    background-color: #646368;
    color: white;
    position: relative;
}

nav a:active {
    background-color: #c9cc00;
}

nav a::before {
    content: "|";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(240, 249, 249) ;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

nav a:first-child::before {
    content: "";
    margin-right: 0;
}

nav a:hover::before {
    visibility: visible;
    transform: skewX(0);
}

/* content */
.content {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
}

/* theme */
body.light {
    background: linear-gradient(to right, #ffffff, #e1e1e1);
    color: black;
}

body.dark {
    background: linear-gradient( to right, #000000 , #201c1c);
    color: white;
}

/* footer */
footer {/*
    background: linear-gradient(to right, #000000 50%, #555252);*/
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 10pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;/*
    border-top: 2px solid #fefefe;*/
    overflow: hidden;
    position: absolute;/*
    z-index: 3;*/
}

/*
footer::before {
    content: "";
    position: fixed;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 20px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    pointer-events: none;
}*/

/* social icons */
.social-icons a {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: transform 0.3s;
}

.social-icons img:hover {
    transform: scale(1, 2);
}

.header-content {
    display: flex;
    align-items: center;
}

/* Contoh gaya untuk scrollbar */
/* Warna track scrollbar */
::-webkit-scrollbar {
    width: 2px; /* Lebar scrollbar */
}

::-webkit-scrollbar-track {
    background-color: #ff0000; /* Warna track scrollbar */
}

/* Warna handle/thumb scrollbar */
::-webkit-scrollbar-thumb {
    background-color: #ff0000; /* Warna handle scrollbar */
    border-radius: 6px; /* Bentuk ujung handle scrollbar */
    border: 3px solid #fff; /* Garis tepi handle scrollbar */
}

/* Warna ketika handle scrollbar sedang dihover */
::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff; /* Warna hover handle scrollbar */
}

/* Menyembunyikan panah navigasi (jika ada) pada scrollbar */
::-webkit-scrollbar-button {
    display: none;
}

/* Jika ingin menyesuaikan scrollbar pada browser selain WebKit (Chrome, Safari) */
/* Firefox */
* {
    scrollbar-color: #ff0000 #f1f1f1;
    scrollbar-width: thin;
}

/* Edge dan IE */
*::-ms-scrollbar {
    color: #ff0000;
    width: 2px;
}

*::-ms-scrollbar-thumb {
    background-color: #ff0000;
    border-radius: 6px;
    border: 3px solid #00f2ff;
}
